# API keys
credentials.json
credentials

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Build dir
build/

# Autoconf generated
/autom4te.cache/
/build-aux/

.deps/
.dirstamp
*.in
*.in~

/missing
/install-sh
/depcomp
/compile
/ar-lib
/aclocal.m4
/configure
/configure~
/config.guess
/config.sub
/ltmain.sh
